@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


:root{
    --color-primary-100: #f4f5ff;
    --color-primary-200: #fafbff;
    --color-primary-300: #d5dfff;
    --color-primary-400: #e2dbfc;
    --color-primary-500: #8c85ff;
    --color-primary-600: #673de6;
    --color-primary-700: #2f1c6a;
    --color-primaty-800: #261559;
    --color-primary-900: #1f1346;
    --color-primary-1000: #1d1e20;
}


*{
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Navigation Section */
header{
    height: 62px;
}

.nav{
    display: none;
}

.navigation-section__user{
    display: none;
}

.navigation-section{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1010;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(128, 128, 128, 0.1);
}

.navigation-section__logo{
    display: flex;
    align-items: center;
    padding: 16px 0px 16px 20px;
}

.navigation-section__logo img{
    width: 147px;
    height: 29px;
    object-fit: cover;
}

.button-list{
    display: flex;
    padding: 16px 20px 16px 0px;
    background: none;
    border: none;
}

.button-list i{
    font-size: 24px;
    color: var(--color-primary-1000);
}


/* Hero */
.hero{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    gap: 8px;
    padding: 14px 16px 36px 16px;
}

.hero__info{
    width: 100%;
    margin-bottom: 32px;
}

.hero__title{
    font-size: 24px;
    font-weight: 700;
    color: var(--color-primary-700);
    line-height: 32px;
}

.hero__subtitle{
    font-size: 18px;
    font-weight: 700;
    color: var(--color-primary-700);
    margin-top: 8px;
    margin-bottom: 16px;
}

.porcentage{
    font-size: 18px;
    font-weight: 700;
    color: var(--color-primary-600);
}

.hero__list{
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 16px;
}

.hero__list-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 24px;
    gap: 10px;
}

.hero__icon-check{
    font-size: 24px;
    color: #00b090;
}

.hero__text-small{
    font-size: 16px;
    color: var(--color-primary-700);
    font-weight: 400;
}

.hero__icon-question{
    font-size: 16px;
    color: var(--color-primary-700);
}

.hero__timer{
    margin-bottom: 16px;
}

.hero__text-medium{
    font-size: 20px;
    font-weight: 400;
    color: var(--color-primary-700);
}

.hero__text-large{
    font-size: 36px;
    font-weight: 700;
    color: var(--color-primary-700);
}

.hero__headline{
    margin-bottom: 16px;
}

.hero__text-medium-bold{
    font-size: 18px;
    font-weight: 700;
    color: var(--color-primary-700);
    margin-bottom: 16px;
}

.hero__button-countdown{
    display: flex;
    flex-direction: column-reverse;
    gap: 12px;
}

.hero__button-primary{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: var(--color-primary-600);
    border-radius: 8px;
    padding: 12px 48px;
    min-height: 48px;
    width: auto;
}

.hero__countdown{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-primary-700);
    background-color: var(--color-primary-400);
    border-radius: 8px;
    min-height: 48px;
    width: 100%;
}

.hero__promo{
    display: flex;
    gap: 4px;
    margin-top: 12px;
}

.hero__icon-check-shield{
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--color-primary-700);
}

.hero img{
    width: 100%;
}


/* Section Services */
.section-services{
    background-color: var(--color-primary-900);
    width: 100%;
    padding: 56px 0px;
}

.section-services__header{
    padding: 0px 16px;
    margin-bottom: 32px;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
}

.section-services__title{
    font-size: 24px;
    font-weight: 700;
    color: white;
    line-height: 32px;
    text-align: center;
}

.section-services__text-small{
    font-size: 16px;
    font-weight: 300;
    color: white;
    text-align: center;
    line-height: 24px;
    margin-top: 24px;
}

.section-services__cards-conteiner{
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    gap: 16px;
}

.card-services{
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary-700);
    border-radius: 16px;
    gap: 16px;
    padding: 32px;
}

.card-services i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    background-color: var(--color-primary-600);
    border-radius: 6px;
    width: 40px;
    height: 40px;
}

.card-services__text-large{
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.card-services__text-small{
    font-size: 16px;
    font-weight: 300;
    color: white;
    line-height: 24px;
}

.section-services__button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.section-services__button-primary{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: var(--color-primary-600);
    border: 2px solid var(--color-primary-600);
    border-radius: 8px;
    min-height: 48px;
    padding: 12px 48px;
}


/* AI Chatbot */
.ai-chatbot-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    bottom: 12px;
    right: 4px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    background-color: var(--color-primary-600);
    border: none;
    border-radius: 100px;
    min-height: 40px;
    padding: 8px 16px 8px 8px;
    gap: 8px;
    box-shadow: 4px 4px 10px rgba(128, 128, 128, 0.1)
}


/* Footer */
footer{
    background-color: var(--color-primary-100);
}

.footer__options{
    display: none;
}

.footer__categories{
    width: 100%;
    max-width: 540px;
    padding: 16px 16px;
    margin-left: auto;
    margin-right: auto;
}

.footer__category-content{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    color: var(--color-primary-700);
    padding: 8px 0px;
}

.footer__info{
    margin-top: 24px;
    width: 100%;
    max-width: 540px;
    padding: 16px 16px;
    margin-left: auto;
    margin-right: auto;
}

.footer__logo-media{
    display: flex;
    flex-direction: column-reverse;
}

.footer__social-media{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    gap: 16px;
    padding: 16px 0px;
    margin-bottom: 8px;
}

.footer__social-media i{
    font-size: 26px;
    color: var(--color-primary-700);
    padding: 6px;
}

.footer__logo{
    padding: 16px 0px;
}

.footer__logo img{
    display: flex;
    align-items: center;
    width: 147px;
    height: 29px;
    object-fit: cover;
    background-color: var(--color-primary-100);
}

.footer__payment-legals{
    display: flex;
    flex-direction: column-reverse;
}

.footer__nav{
    display: flex;
    flex-direction: row;
    max-width: 328px;
    gap: 8px;
}

.footer__text{
    font-size: 14px;
    font-weight: 400;
    color: var(--color-primary-700);
    line-height: 24px;
    text-decoration: none;
}

.footer__payment-methods{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    max-width: 300px;
    gap: 8px;
    padding: 24px 0px;
}

.footer__payment-methods li{
    display: flex;
    align-items: center;
    width: 60px;
    height: 40px;
}

.footer__payment-methods img{
    width: 60px;
    height: 40px;
    border: 1px solid var(--color-primary-300);
    border-radius: 6px;
}

.footer__payment-methods a{
    font-size: 14px;
    font-weight: 700;
    color: var(--color-primary-600);
    text-decoration: none;
}

.footer__copyright{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 540px;
    padding: 16px 16px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid var(--color-primary-300);
    gap: 24px;
    padding: 24px 16px 16px 16px;
}


@media (min-width: 768px){
    /* Hero */
    .hero{
        width: 100%;
        max-width: 768px;
        padding: 62px 40px 80px 40px;
    }
    
    .hero__info{
        min-width: 440px;
        margin-bottom: 40px;
    }
    
    .hero__title{
        font-size: 28px;
        line-height: 40px;
    }
    
    .hero__text-large{
        font-size: 40px;
    }
    
    .hero__button-countdown{
        display: flex;
        flex-direction: row;
    }
    
    .hero__countdown{
        max-width: 160px;
    }
    

    /* Section Services */
    .section-services{
        padding: 64px 0px;
    }
    
    .section-services__header{
        padding: 0px 40px;
        max-width: 768px;
        margin-bottom: 40px;
    }
    
    .section-services__title{
        font-size: 28px;
        line-height: 40px;
    }
    
    .section-services__cards-conteiner{
        padding: 0px 40px;
        max-width: 768px;
    }

    /* AI Chatbot */
    .ai-chatbot-button{
        right: 12px;
    }

    /* Footer */
    .footer__category-content i{
        display: none;
    }

    .footer__categories{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 44px;
        max-width: 768px;
        padding: 40px;
    }

    .footer__category-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .footer__category{
        margin-bottom: 8px;
    }

    .footer__options{
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 8px;
    }

    .footer__info{
        display: flex;
        flex-direction: column;
        max-width: 768px;
        padding: 0px 40px;
        margin-top: 0px;
        gap: 16px;
    }

    .footer__logo-media{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer__logo{
        padding: 0px;
    }

    .footer__social-media{
        padding: 0px;
        margin: 0px; 
    }

    .footer__payment-legals{
        max-width: 768px;
        gap: 16px;
    }

    .footer__nav{
        max-width: none;
    }

    .footer__payment-methods{
        display: flex;
        flex-direction: row;
        max-width: none;
        padding: 0px;
        margin-bottom: 40px;
    }

    .footer__copyright{
        display: flex;
        max-width: 768px;
        padding: 24px 40px;
    }
}


@media (min-width: 1025px){
    /* Hero */
    .hero{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1208px;
        margin-left: auto;
        margin-right: auto;
        overflow-x: hidden;
        padding: 36px 40px 96px 40px;
    }
    
    .hero__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 463px;
        width: 35%;
        margin-bottom: 0px;
    }
    
    .hero__title{
        font-size: 36px;
        margin-right: 8px;
    }
    
    .hero__subtitle{
        font-size: 20px;
        margin-bottom: 24px;
    }

    .porcentage{
        font-size: 20px;
    }
    
    .hero__list{
        margin-bottom: 24px;
    }

    .hero__text-large{
        font-size: 48px;
    }
    
    .hero__timer{
        margin-bottom: 24px;
    }
    
    .hero__text-medium-bold{
        font-size: 20px;
        margin-bottom: 24px;
    }
    
    .hero__button-countdown{
        display: flex;
        flex-direction: row;
    }
    
    .hero__countdown{
        max-width: 160px;
    }
    
    .hero img{
        width: 616px;
    }
    
    
    /* Section Services */
    .section-services{
        padding: 80px 0px;
    }
    
    .section-services__header{
        max-width: 1208px;
    }
    
    .section-services__title{
        font-size: 36px;
    }
    
    .section-services__cards-conteiner{
        display: flex;
        flex-direction: row;
        max-width: 1208px;
    }
    
    .card-services{
        flex: 1;
    }


    /* Footer */
    .footer__categories{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 16px;
        max-width: 1208px;
        padding: 50px 40px 40px 40px;
    }

    .footer__info{
        max-width: 1208px;
        padding: 0px 40px;
    }

    .footer__payment-legals{
        max-width: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
    }

    .footer__payment-methods{
        margin-bottom: 0px;
    }

    .footer__nav{
        gap: 16px;
    }

    .footer__nav a{
        width: 140px;
    }

    .footer__copyright{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 1208px;
    }
}


@media (min-width: 1140px){
    /* Navigation Section */
    .button-list{
        display: none;
    }
    
    header{
        height: 88px;
    }

    .navigation-section{
        max-height: 88px;
    }

    .navigation-section__logo{
        padding: 20px 0 20px 40px;
    }

    .nav{
        display: flex;
        width: 100%;
        max-width: 1920px;
        margin-left: auto;
        padding: 20px 40px;
    }

    .nav__main-menu{
        display: flex;
        align-items: center;
        list-style: none;
        gap: 32px;
    }

    .nav__entry{
        text-decoration: none;
        background: none;
        border: none;
        font-size: 16px;
        font-weight: 300;
        color: var(--color-primary-1000);
    }

    .navigation-section__user{
        display: flex;
        align-items: center;
        margin-right: auto;
        gap: 32px;
        padding: 20px 40px 20px 0px;
    }

    .language{
        display: flex;
        align-items: center;
        background: none;
        border: none;
        gap: 4px;
    }

    .language__img{
        width: 32px;
        height: 20px;
    }

    .language__select{
        font-size: 16px;
        font-weight: 700;
        color: var(--color-primary-1000);
    }

    .navigation-section__button{
        text-decoration: none;
        font-size: 16px;
        font-weight: 700;
        color: var(--color-primary-1000);
        border: 2px solid var(--color-primary-1000);
        border-radius: 8px;
        padding: 12px 16px;
    }
}


@media (min-width: 1367px){
    /* Hero */
    .hero{
        width: 100%;
        max-width: 1472px;
        padding: 36px 80px 96px 80px;
    }

    .hero img{
        width: 880px;
        height: 576px;
    }
}


@media (min-width: 1551px){
    /* Hero */
    .hero{
        padding: 36px 40px 96px 40px;
    }

    .hero__title{
        margin-right: 32px;
    }
}